<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GoodsManageReadMapper">
 
	<!-- @author SSY 2017-12-21  根据商品id 查询商品信息用于询价商品回显;-->
	<select id="getInquriryGoods" parameterType="String" resultType="pd" >
		SELECT 
			c.brand_name,c.goods_name,c.goods_code,m.norm,c.main_map
		FROM 
			aurorascm.goods_common c
		INNER JOIN
			aurorascm.goods_manage m
		ON 
			c.goods_id = m.goods_id
		WHERE
			c.goods_id = #{goodsID}
	</select>
			
	 
 
	
	
</mapper>