<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsWriteMapper">

	
	<!-- 根据goodsID更新商品库存 -->
	<update id="updateGoodsStockAfterPay" parameterType="pd" >
		UPDATE 
			aurorascm.goods_manage
		SET
			goods_stock = #{goodsStock}
		WHERE 
			goods_id = #{goodsID}
	</update>
	
</mapper>