<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomeFloorReadMapper">
	<resultMap type="com.aurorascm.entity.home.HomeFloorGoods" id="HomeFloorGoodsResultMap">
		<id column="id" property="id"/>
		<result column="category1_id" property="category1ID"/>
		<result column="goods_id" property="goodsID"/>
		<result column="goods_new_name" property="goodsNewName"/>
		<result column="goods_price2" property="goodsPrice2"/>
		<result column="home_map" property="homeMap"/>
	</resultMap>
	
 	<resultMap type="com.aurorascm.entity.home.HomeFloorBrand" id="HomeFloorBrandResultMap">
		<id column="id" property="id"/>
		<result column="brand_id" property="brandID"/>
		<result column="brand_name" property="brandName"/>
		<result column="recommend_map" property="homeMap"/>
		<result column="care_num" property="attentionNum"/>
		<result column="floor" property="floor"/>
		<result column="location" property="location"/>
	</resultMap>
	
	<resultMap type="com.aurorascm.entity.home.Category" id="CategoryResultMap">
		<id column="category_id" property="categoryID"/>
		<result column="category_name" property="categoryName"/>
		<result column="category_level" property="categoryLevel"/>
		<result column="category_parent_id" property="categoryParentID"/>
		<result column="location_sort" property="locationSort"/>
		<result column="red" property="red"/>
	</resultMap>
	
	<!-- @author SSY 2018-05-02 根据类目id查询该楼层下的商品; -->
	<select id="getHomeFloorGoods" parameterType="int" resultMap="HomeFloorGoodsResultMap" >
		SELECT 
			f.*,m.goods_price2
		FROM
			aurorascm.home_floor_goods f
		INNER JOIN
			aurorascm.goods_manage m
		ON 
			f.goods_id = m.goods_id
		WHERE
			category1_id = #{category1ID}
	</select>
	
	<!-- @author SSY 2018-05-02 根据类目id查询该楼层下的商品; -->
	<select id="getHomeFloorBrand" parameterType="java.lang.Integer" resultMap="HomeFloorBrandResultMap" >
		SELECT 
			f.*,b.recommend_map,b.care_num
		FROM
			aurorascm.home_floor_brand f
		INNER JOIN
			aurorascm.brand b
		ON 
			f.brand_id = b.brand_id
		WHERE
			floor = #{category1ID}
	</select>
	
	<!-- @author SSY 2018-05-17  查询首页展示一级类目-->
	<select id="getHomeFloorCategory"   resultMap="CategoryResultMap">
		SELECT 	
			category_id,category_name
		FROM	
			aurorascm.goods_category
		WHERE	 
			category_id IN (${@com.aurorascm.util.Const@CATEGORYID_FLOORS})
		ORDER BY	
			location_sort  ASC
		LIMIT 0,5
	</select>
	
</mapper>